<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное окно</title>
</head>
<body>
<div>{{main}}</div>
       <form>
       <a href="/clients">Клиенты</a>
       <div><a href="/credits">Кредиты</a></div>
       <div><a href="/bank">Банк</a></div>
       <div><a href="/ofcredits">Оформление кредитов</a></div>
       </form>
</body>
</html>